<% include templates/navigation %>
<h1>Login</h1>
<div class="container-fluid">
	<form action="" method="post">
		Name: <input type="text" name="userName" placeholder="user name"/>
		Email: <input type="email" name="email" placeholder="your-mail@server.com"/>	
		<input type="submit" name="">
	</form>
</div>